.pagenav {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 15.5em);
    background-color: #303134;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding-right: 1.5em;
    left: 14em;
}

.pagenav a,
.current {
    padding: 1em 1.5em;
}

.current {
    background-color: #424242;
    border: 1px solid #303134;
}